.primary {
    background-color: blue;
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

.primary:hover {
    background-color: rgb(19, 19, 136);
}

.secondary {
    background-color: green;
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

.secondary:hover {
    background-color: rgb(9, 94, 9);
}